*{
box-sizing: border-box;
}

body{
  margin: 0;
}
/**********TYPOGRAPHY**********/

html{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a{
  text-decoration: none;
  color: #e5e7eb;
}
a:hover{
  border-bottom: dotted lightblue 3px;
  color: lightblue
}
/**********NAV BAR**********/
header{
  background-color: #1f2937;
}

nav{
  background-color: #1f2937;
  min-height: 60px;
  width: 70%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
nav a{
  margin: 0 2rem;
  font-size: 1.2rem;
}

.img-logo{
  max-width: 4.5rem;
  margin: 0 auto 0 0;

}

/**********MEDIA QUERIES**********/

@media screen and (max-width: 600px) {
  nav{
    flex-direction: column;
  }
  .img-logo{
    margin: 0 auto 10px;
  }
}