*{
box-sizing: border-box;
}

body{
  margin: 0;
}
h1{
  margin:0;
}
/**********TYPOGRAPHY**********/

html{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a{
  text-decoration: none;
  color: #e5e7eb;
}
a:hover{
  border-bottom: dotted lightblue 3px;
  color: lightblue
}
/**********NAV BAR**********/
header{
  background-color: #1f2937;
}

nav{
  background-color: #1f2937;
  min-height: 10vh;
  width: 70%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
nav a{
  margin: 0 2.4rem;
  font-size: 1.4rem;
}

.img-logo{
  max-width: 4.5rem;
  margin: 0 auto 0 0;
}
.link-logo{
  margin: 0 auto 0 0;

}
.link-logo-link{
  text-decoration: none;
  width: 10px;
}
/**********FIRST SECTION**********/

section:nth-of-type(1){
  background-color: #1f2937;
  min-height: 90vh;
  display:flex;
}

.section-one{
background-color:#1f2937;
margin: 0 auto;
width: 70%;
padding: 1rem;
display: flex;
flex-wrap:wrap-reverse;
justify-content: space-around;
align-items: center;
}

.hero-text-container{
width:40%;
}

.section-one h1{
  color: #f9faf8;
  font-weight: 900;
  font-size: 4rem;
}


.section-one p{
  color: #e5e7eb;
  padding: 0.4rem 0;
  font-size: 1.2rem;
}


.button-hero{
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 12px;
  color: #f9faf8;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  justify-content: center;
  max-width: 480px;
  min-height: 40px;
  padding: 0.6rem 2.4rem;
  text-align: center;
}

.button-hero:hover{ 
  background-color: #16437E;
  color: #ffffff;
}

.hero-pic{
  /* max-height: 54vh; */
  max-width: 56%;
  min-width: 500px;
  border-radius: 4% 40%;
}

/**********SECOND SECTION**********/

.section-two{
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom:5rem;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 
}


.card-pic{
  border: 5px solid #0A66C2;
  height: 12rem;
  width: 12rem;
  border-radius: 10%;
  margin: 0 1.6rem;
}

.card p{
  width: 14rem;
}

h2{
  text-align: center;
  font-weight: 800;
  font-size: 2.6rem;
  color: #1f2937;
  padding: 2rem 0;
  display:block;
}

/**********SECTION THREE**********/

section:nth-of-type(3){
  background-color: #e5e7eb;

}

.section-three{
  width: 50%;
  margin: 0 auto;
  padding: 3em 0;
}
.section-three p:first-child{
  text-align: left;
  font-size: 3em;
  font-style: italic;
  font-weight: 300;
}
.section-three p:last-child{
  text-align: right;
  font-size: 1.9em;
  font-weight: 600;

}
/**********SECTION FOUR**********/
.section-four{
  width: 60%;
  margin: 8rem auto;
  height: 22vh;
  background-color: #0A66C2;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
}


.newsletter-text p:first-child{
  color:#e5e7eb;
  font-size: 1em;
  width: 100%;
  font-weight: 300;
  margin:0;
}

.newsletter-text p:last-child{
  color:#fff;
  font-size: 2em;
  width: 100%;
  font-weight: 900;
  margin:0;

}

.newsletter-button{
  align-items: center;
  background-color: #0A66C2;
  border: 4px solid #fff;
  border-radius: 12px;
  color: #f9faf8;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  justify-content: center;
  max-width: 480px;
  min-height: 40px;
  padding: 0.6rem 2.4rem;
  text-align: center;
}

.newsletter-button:hover{ 
  background-color: #16437E;
  color: #ffffff;
}

/**********FOOTER**********/
footer{
  background-color: #1f2937;
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p{
text-align: center;
color:#e5e7eb;
font-style: italic;
}



/**********MEDIA QUERIES**********/

@media screen and (max-width: 800px) {
  nav{
    flex-direction: column;
  }

  .link-logo{
    margin: 0 auto;
  }
  .link-logo-link{
    display:block;
    margin: 0 auto;
    width: 70px;
  }
  
  .hero-pic{
    min-width: 90vw;
  }

  .section-three{
    width: 80%;
  }

  .section-three p:first-child{
    font-size: 2em;
  }
  .section-four{
  min-height: 40vh;
  }
}
@media screen and (max-width: 1400px) {
  .hero-text-container{
    width: 98vw;
    text-align: center;
    padding-top: 20px;
  }

  .section-four{
    height: 30vh;
    min-width: 60vw;
    padding: 20px;
  }

}